/* General */

body {
    background-color: #202020;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
    color: #e0e0e0;
}

h1, h2, h3 {
    letter-spacing: 1px;
    color: #f5ea8e;
}

h3 {
    margin: 17px;
}

a {
    cursor: pointer;
    transition-duration: 0.4s;
}

a:hover {
    color: #77c8d9;
}

.box {
    display: inline-block;
    width: 90%;
    background-color: #0000003d;
    border-radius: 10px;
    padding: 7px;
}

/* Links */

.links-wide, .links-compact {
    display: inline-block;
}

.links-wide img {
    width: 21px;
    margin: 0 7px;
}

.links-compact img {
    width: 21px;
    height: 21px;
    margin: 0 1px;
}

.color-link {
    filter: grayscale(1) brightness(125%);
    -webkit-filter: grayscale(1) brightness(125%);
    transition-duration: 0.6s;
}

.color-link:hover {
    -webkit-filter: none;
    filter: none;
}

.inactive-link {
    filter: grayscale(1) brightness(35%);
    -webkit-filter: grayscale(1) brightness(35%);
}

.glow-link {
    transition-duration: 0.4s;
}

.glow-link:hover {
    filter: drop-shadow(0 0 2px #fff);
    -webkit-filter: drop-shadow(0 0 2px #fff);
}