/* Project containers */

.project-box {
    border: 2px solid var(--box-color);
    padding: 3px 10px;
    transition-duration: 0.4s;
}

.project-box:hover {
    background-color: #2d2e30;
}

.project-box > p {
    text-align: left;
}

.project-box > img {
    float: right;
    width: 64px;
    margin-left: 10px;
}

.project-box > * {
    margin: 5px;
}

.project-header {
    margin: 0 0 7px 20px;
    text-align: left;
    font-size: 20px;
    color: var(--header-color);
}

/* Link containers */

.links-wide, .links-compact {
    display: inline-block;
}

.links-wide img, .links-compact img {
    width: 21px;
    height: 21px;
}

.links-wide img {
    margin: 0 7px;
}

.links-compact img {
    margin: 0 1px;
}

/* Toasts */

.toast .grey-text {
    text-align: center;
    color: #ccc;
    margin: 10px;
}

.toast .toast-img {
    width: 100%;
    margin: auto;
}