/* Project containers */

.project-box {
    border: 2px solid #00000029;
    padding: 3px 10px;
    transition-duration: 0.4s;
}

.project-box:hover {
    background-color: #303030;
}

.project-box > p {
    text-align: left;
}

.project-box > img {
    float: right;
    width: 64px;
    margin-left: 10px;
}

.project-box > * {
    margin: 5px;
}

/* Link containers */

.links-wide, .links-compact {
    display: inline-block;
}

.links-wide img, .links-compact img {
    width: 21px;
    height: 21px;
}

.links-wide img {
    margin: 0 7px;
}

.links-compact img {
    margin: 0 1px;
}

.tooltip-trigger {
    position: relative;
}

.tooltip-trigger:hover .tooltip, .tooltip:hover {
    visibility: visible;
}

.tooltip {
    visibility: hidden;
    background-color: #00000080;
    color: #ffe0fe;
    border-radius: 6px;
    padding: 4px 8px;
    position: absolute;
    z-index: 1;
    bottom: 170%;
    left: -98%;
    cursor: text;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #00000080 transparent transparent transparent;
}