/* General */

:root {
    --background-color: #2c2e30;
    --box-color: #0000002a;

    --text-color: #e0e0e0;
    --header-color: #f5ea8e;
    --link-color: #ffb7fa;
    --link-hover-color: #77c8d9;
}

* {
    font-family: "Ubuntu Mono", monospace;
}

body {
    background-color: var(--background-color);
    text-align: center;
    color: var(--text-color);
    scrollbar-color: #60606090 #10101090;
    color-scheme: dark;
}

h1, h2, h3 {
    letter-spacing: 1px;
    color: var(--header-color);
}

h3 {
    margin: 17px;
}

a {
    cursor: pointer;
    transition-duration: 0.4s;
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

summary:hover {
    cursor: pointer;
}

.hr {
    height: 1px;
    background-color: #373737;
    margin: 10px;
}

.box {
    display: inline-block;
    width: 90%;
    background-color: var(--box-color);
    border-radius: 10px;
    padding: 7px;
}

/* Navbars */

nav {
    padding-bottom: 15px;
    padding-top: 7px;
}

nav > a {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
    color: revert;
}

/* Links */

.color-link {
    filter: grayscale(1) brightness(125%);
    -webkit-filter: grayscale(1) brightness(125%);
    transition-duration: 0.6s;
}

.color-link:hover {
    -webkit-filter: none;
    filter: none;
}

.inactive-link {
    filter: grayscale(1) brightness(35%);
    -webkit-filter: grayscale(1) brightness(35%);
}

.glow-link {
    transition-duration: 0.4s;
}

.glow-link:hover {
    filter: drop-shadow(0 0 2px #fff);
    -webkit-filter: drop-shadow(0 0 2px #fff);
}

/* Input things */

button {
    font-size: 18px;
    background-color: var(--box-color);
    color: var(--header-color);
    cursor: pointer;
    border: none;
    border-radius: 6px;
    margin: 9px 5px 3px 5px;
    padding: 5px 10px;
    transition-duration: 0.4s;
}

button:hover {
    color: var(--link-hover-color);
}

button:disabled {
    color: #777;
}

input, label {
    font-size: 16px;
    border: none;
    color: var(--text-color);
    border-radius: 6px;
    margin: 2px 3px 5px;
    padding: 4px 7px;
}

input {
    background-color: var(--box-color);
}

input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

input[type="radio"] + label {
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type="radio"]:hover + label {
    color: var(--link-hover-color);
}

input[type="radio"]:checked + label {
    background-color: var(--box-color);
    color: var(--header-color);
}

input[type="number"] {
    max-width: 60px;
}