/* General */

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/font/ibm-plex-mono.woff2) format('woff2');
}

:root {
    --background-color: #242039;
    --box-color: #0000002a;

    --text-color: #e0e0e0;
    --header-color: #f5ea8e;
    --link-color: #ffb7fa;
    --link-hover-color: #77c8d9;
}

* {
    font-family: "IBM Plex Mono", monospace;
}

body {
    background-color: var(--background-color);
    background-image: url("/static/img/background.webp");
    background-size: 55vmax;
    image-rendering: pixelated;
    animation: background 240s cubic-bezier(0.47, 0.25, 0.53, 0.75) infinite;

    text-align: center;
    color: var(--text-color);
    scrollbar-color: #60606090 #10101090;
    color-scheme: dark;
}

@keyframes background {
    0% {
        background-position: 0 0;
    }
    33% {
        background-position: 30vmax -15vmax;
    }
    66% {
        background-position: -15vmax -30vmax;
    }
    100% {
        background-position: 0 0;
    }
}

p, span {
    font-size: 14px;
}

h1, h2, h3 {
    letter-spacing: 1px;
    color: var(--header-color);
}

h4, h5 {
    color: var(--header-color);
}

h3 {
    margin: 17px;
}

h4 {
    margin: 0 0 10px 0;
}

a, summary {
    cursor: pointer;
    transition-duration: 0.4s;
    color: var(--link-color);
}

a:hover, summary:hover {
    color: var(--link-hover-color);
}

.hr {
    height: 1px;
    background-color: #373737;
    margin: 10px;
}

.box {
    display: inline-block;
    width: 90%;
    background-color: var(--box-color);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 7px;
}

/* Navbars */

nav {
    padding-bottom: 15px;
    padding-top: 7px;
}

nav > a {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px;
    color: revert;
}

/* Links */

.color-link {
    filter: grayscale(1) brightness(125%);
    -webkit-filter: grayscale(1) brightness(125%);
    transition-duration: 0.6s;
}

.color-link:hover {
    -webkit-filter: none;
    filter: none;
}

.inactive-link {
    filter: grayscale(1) brightness(35%);
    -webkit-filter: grayscale(1) brightness(35%);
}

.glow-link {
    transition-duration: 0.4s;
}

.glow-link:hover {
    filter: drop-shadow(0 0 2px #fff);
    -webkit-filter: drop-shadow(0 0 2px #fff);
}

.bleach-link {
    background: linear-gradient(0.4turn, #ffd553, #ec832d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration-color: #ffd553;
    transition-duration: 0.5s;
}

.bleach-link:hover {
    -webkit-text-fill-color: #ffd96b;
}

/* Toasts */

.toast {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: none;/*flex;*/
    align-items: center;
    justify-content: center;
}

.toast > div {
    background-color: #2c2e30;
    border-radius: 10px;
    padding: 7px;
    max-width: 550px;
    margin: 0;
    max-height: 600px;
    overflow-y: auto;
}

/* Input things */

button {
    font-size: 18px;
    background-color: var(--box-color);
    color: var(--header-color);
    cursor: pointer;
    border: none;
    border-radius: 6px;
    margin: 9px 5px 3px 5px;
    padding: 5px 10px;
    transition-duration: 0.4s;
}

button:hover {
    color: var(--link-hover-color);
}

button:disabled {
    color: #777;
}

input, label {
    font-size: 16px;
    border: none;
    color: var(--text-color);
    border-radius: 6px;
    margin: 2px 3px 5px;
    padding: 4px 7px;
}

input {
    background-color: var(--box-color);
}

input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

input[type="radio"] + label {
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type="radio"]:hover + label {
    color: var(--link-hover-color);
}

input[type="radio"]:checked + label {
    background-color: var(--box-color);
    color: var(--header-color);
}

input[type="number"] {
    max-width: 60px;
}