.grid {
    display: grid;
    grid-auto-rows: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin: 10px 0;
}

.grid-cell {
    border: 1px solid #777;
    box-sizing: border-box;
}

.grid-cell-hidden {
    box-sizing: border-box;
}

.small-grid {
    width: 100px;
    height: 100px;
}

#tetris {
    width: 350px;
    height: 770px;
}

#progress {
    margin: auto;
    width: 350px;
    background-color: #202020;
}

#progressbar {
    width: 0;
    height: 16px;
    border: 1px solid #202020;
    background-color: #8c0b16;
}

#cleared-text {
    margin: -18px;
    color: var(--link-color);
}

#timer {
    margin-top: 20px;
    font-size: 18px;
}

/* Toasts */

.toast {
    background-color: #00000080;
}

.toast > div {
    width: 405px;
    max-height: 6000px;
}

.toast-header {
    font-size: 20px;
    margin: 6px;
    color: var(--link-color);
}

.menu-button {
    font-size: 32px;
    width: 280px;
}

.half-menu-button {
    font-size: 16px;
    width: 34%;
    margin: 0;
}

#leaderboard-button {
    margin: 10px;
}

input {
    width: 116px;
}

/* Leaderboard */

#leaderboard {
    max-width: 350px;
    height: 270px;
    padding: 7px 10px;
    margin: auto auto 5px;
    display: grid;
    grid-template-columns: 13% 50% 37%;
    grid-auto-rows: min-content;
    overflow-y: auto;
}

.leaderboard-left-h {
    text-align: left;
    font-weight: 600;
}

.leaderboard-right-h {
    text-align: right;
    font-weight: 600;
}

.leaderboard-left {
    text-align: left;
    color: var(--header-color);
}

.leaderboard-right {
    text-align: right;
}

.leaderboard-button {
    width: 40%;
    margin: 4px 0;
}

/* Corner */

.bottom-right {
    padding: 4px 12px;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    text-align: right;
}

.bottom-left {
    padding: 4px;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
    text-align: left;
}

.corner-text {
    margin: 0;
    color: #bbb;
}

.color-link {
    filter: grayscale(1) brightness(70%);
    -webkit-filter: grayscale(1) brightness(70%);
}